<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GChatClientID</key>
	<string>$(GCHAT_CLIENT_ID)</string>
	<key>GChatOrganization</key>
	<string>$(GCHAT_ORGANIZATION)</string>
	<key>GChatRelayURL</key>
	<string>$(GCHAT_RELAY_URL)</string>
	<key>GChatEventsTopic</key>
	<string>$(GCHAT_EVENTS_TOPIC)</string>
	<key>GChatSourceURL</key>
	<string>$(GCHAT_SOURCE_URL)</string>
</dict>
</plist>
